#map {
    float: right;
    height: 100%;
    width: 70%;
}

#scriptures {
    float: left;
    height: 100%;
    width: 30%;
    background: cyan;

}
html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}